 /* Geral ==============*/
:root{
  --dark-blue: #363f5f;
  --red: #e92929;
  --lingt-green: #3dd705;
  --green: #49aa26;
}
 
*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html{
  font-size: 93.75%;
}

body{
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

h2{
  font-weight: normal;
  color: var(--dark-blue);
  margin-top: 3.2rem;
  margin-bottom: .8rem;
}

.sr-only{
  height: 1px;
  width: 1px;
  position: absolute;
  border-width: 0;

  padding: 0;
  margin: -1px;

  /*properties to make the element invisible, but with accessibility*/
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}

.container{
  width: min(90vw, 800px);
  margin: auto;
}
/* HEADER ============*/
header{
  padding: 2.5rem 0 14rem;
  background-color: #2D5A24;

  text-align: center;
}

/* Links and Buttons ============*/
a{
  text-decoration: none;
  color: var(--green);
}

a:hover{
  color: var(--lingt-green);
}

button{
  width: 100%;
  height: 50px;

  border: none;
  border-radius: .25rem;

  color: #fff;

  background-color: var(--green);

  cursor: pointer;
}

button:hover{
  background-color: var(--lingt-green);
}

.new.button{
  display: inline-block;
  margin-bottom: .8rem;
}

.button.cancel{
  color: var(--red);
  border: solid 2px var(--red);
  border-radius: .25rem;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .6;
}

.button.cancel:hover{
  opacity: 1;
}

/* MAIN BALANCE ===================*/
#balance{
  margin-top: -7rem;
}

#balance h2{
  color: #fff;
}

/* CARD ===============*/
.card{
  background-color: #fff;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: .25rem;

  color: var(--dark-blue);
}

.card h3{
  font-size: 1rem;
  font-weight: normal;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

.card p{
  font-size: 2rem;
  line-height: 3rem;
}

.card.total{
  background-color: var(--green);
  color: #fff;
}

/*Data-table ===================*/
#data-table thead th:first-child,
#data-table tbody td:first-child{
  border-radius: .3rem 0 0 .3rem;
}
#data-table thead th:last-child,
#data-table tbody td:last-child{
  border-radius: 0 .3rem .3rem 0;
}

#transaction{
  display: block;
  overflow-x: auto;
  width: 100%;
}

#data-table{
  width: 100%;
  border-spacing: 0 1rem;
  color: #969cb3;
}

#data-table thead th{
  text-align: left;
  font-weight: normal;

  background-color: #fff;
  padding: 1rem 2rem;
}

#data-table tbody tr td{
  background-color: #fff;
  padding: 1rem 2rem;
}

#data-table tbody tr{
  opacity: .7;
}

#data-table tbody tr:hover{
  opacity: 1;
}

td.description{
  color: var(--dark-blue);
}

td.income{
  color:#12a454;
}

td.expense{
  color: var(--red);
}
/*Modal ========================*/
.modal-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);

  position: fixed;
  top: 0;

  display: flex;

  align-items: center;
  justify-content: center;

  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.modal-overlay.active{
  visibility: visible;
  opacity: 1;
}

.modal{
  padding: 2.4rem;
  background-color: #f0f2f5;

  position: relative;
  z-index: 1;

}

/* FORM ========================*/
#form{
  max-width: 500px;
}

#form h2{
  margin-top: 0;
}

input{
  width: 100%;
  border: none;
  border-radius: .25rem;
  padding: .8rem;
}

.input-grup{
  margin-bottom: .8rem;
}

.input-grup small{
  opacity: .4;
}

.input-grup.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-grup.actions .button,
.input-grup.actions button{
  width: 48%;
}

/*FOOTER ========================*/
footer{
  text-align: center;

  color: var(--dark-blue);
  padding: 4rem 0 2rem;

  opacity: .6;
}


@media (min-width: 800px){
  html{
    font-size: 87.5%;
  }

  #balance{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}